@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Impact";
  src: url("../fonts/Impact.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
*::before,
*::after {
  display: inline-block;
}

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #292929;
  background-color: #f0f0f0;
}

/* Тёмная тема */
body.dark-theme {
  background-color: #1e2023;
  color: #f0f0f0;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

[class*=__container] {
  max-width: 360px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  [class*=__container] {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media (min-width: 1280px) {
  [class*=__container] {
    max-width: 1280px;
    padding: 0 32px;
  }
}

.section-title {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: #292929;
  margin-bottom: 40px;
}
@media (min-width: 360px) {
  .section-title {
    font-size: 52px;
  }
}
@media (min-width: 768px) {
  .section-title {
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }
}

.section-title span {
  color: #00b068;
}

body.dark-theme .section-title {
  color: #f0f0f0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  padding: 20px 0;
}
@media (min-width: 768px) {
  .header {
    padding: 32px 0;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  font-family: "Impact", sans-serif;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #292929;
  z-index: 5;
}
@media (min-width: 768px) {
  .logo {
    font-size: 32px;
    letter-spacing: 0.05em;
  }
}

.logo span {
  color: #00b068;
}

.button__theme {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  text-align: center;
  padding-top: 260px;
}
@media (min-width: 767.98px) {
  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
    padding-top: 0;
  }
}

.menu__link {
  position: relative;
  font-weight: 300;
  letter-spacing: 0.03em;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.menu__link:hover,
.menu__link:focus {
  color: #00b068;
}

.menu__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #00b068;
  -webkit-transition: width 0.25s linear;
  transition: width 0.25s linear;
  -webkit-transition: width 0.4s linear;
}

.menu__link:hover::after,
.menu__link:focus::after {
  width: 100%;
  left: 0;
}

.icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #292929;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu__body {
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    background-image: url("../images/header/decor-mobile-menu.png");
    background-repeat: no-repeat;
    background-size: 320px 704px;
    background-position: center;
    padding: 80px 20px 20px 16px;
    overflow: auto;
    -webkit-transition: left 0.3s linear;
    transition: left 0.3s linear;
  }
  body.dark-theme .menu__body {
    background-color: #1e2023;
  }
  body.dark-theme .menu__link {
    color: #f0f0f0;
  }
  body.dark-theme .menu__body::before {
    background-color: #1e2023;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 64px;
    background-color: #f0f0f0;
    z-index: 2;
  }
  .menu-open .menu__body,
  .menu-open .menu__body::before {
    left: 0;
  }
}
@media (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}
/* Тёмная тема */
body.dark-theme .logo {
  color: #f0f0f0;
}

body.dark-theme .icon-menu::before {
  background-color: #f0f0f0;
}

body.dark-theme .icon-menu::after {
  background-color: #f0f0f0;
}

body.dark-theme .icon-menu > span {
  background-color: #f0f0f0;
}

.hero {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("../../images/hero/hero-decor-mobile.png");
  background-repeat: no-repeat;
  background-size: 320px 604px;
  background-position: top 10% right 25%;
}
@media (min-width: 768px) {
  .hero {
    padding-top: 96px;
    padding-bottom: 96px;
    background-image: url("../../images/hero/hero-decor-tablet.png");
    background-size: 709px 901px;
    background-position: top 45% right 25%;
  }
}
@media (min-width: 1280px) {
  .hero {
    background-image: url("../../images/hero/hero-decor-desktop.png");
    background-size: 1221px 776px;
    background-position: top 45% right 48%;
  }
}

@media (min-width: 1280px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 96px;
  }
}
body.dark-theme .hero__title {
  color: #f0f0f0;
}

body.dark-theme .hero__button {
  color: #f0f0f0;
}

body.dark-theme .hero__button::after {
  background-color: #14c57c;
}

body.dark-theme .hero__text {
  color: #f0f0f0;
}

body.dark-theme .hero__soc-list {
  background-color: #2a2d32;
  color: #f0f0f0;
}

body.dark-theme .hero__soc-link {
  color: #f0f0f0;
}

.hero__title {
  font-family: "Impact", sans-serif;
  font-size: 60px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 40px;
  margin-top: 96px;
}
@media (min-width: 360px) {
  .hero__title {
    font-size: 64px;
  }
}
@media (min-width: 768px) {
  .hero__title {
    margin-top: 88px;
    font-size: 124px;
    line-height: 1.19;
    letter-spacing: 0.01em;
    margin-bottom: 60px;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    max-width: 552px;
    margin-right: 72px;
    margin-bottom: 80px;
  }
}

.hero__title span {
  color: #00b068;
}

.hero__button {
  position: relative;
  max-width: 320px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .hero__button {
    min-width: 416px;
    height: 96px;
    font-size: 20px;
    line-height: 1.6;
  }
}
@media (min-width: 1280px) {
  .hero__button {
    margin-right: 136px;
    margin-left: 72px;
    margin-bottom: 0;
  }
}

.hero__button::after {
  content: "";
  position: absolute;
  right: 0;
  border-radius: 16px;
  width: 165px;
  height: 92px;
  background-color: #bcdfd1;
  z-index: -1;
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
@media (min-width: 768px) {
  .hero__button::after {
    width: 261px;
  }
}

.hero__button:hover::after,
.hero__button:focus::after {
  background-color: #00b068;
}

.hero__text {
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  max-width: 320px;
  margin-bottom: 72px;
}
@media (min-width: 768px) {
  .hero__text {
    font-size: 20px;
    line-height: 1.6;
    max-width: 704px;
    margin-bottom: 100px;
  }
}
@media (min-width: 1280px) {
  .hero__text {
    max-width: 592px;
    margin-bottom: 0;
  }
}

.hero__text span {
  color: #00b068;
}

.hero__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  gap: 24px;
  max-width: 360px;
  padding: 32px 0;
  background-color: #e4e5e6;
}
@media (min-width: 768px) {
  .hero__soc-list {
    max-width: 768px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
    padding: 40px 0;
  }
}
@media (min-width: 1280px) {
  .hero__soc-list {
    max-width: 1280px;
  }
}

.hero__soc-link {
  font-weight: 300;
  letter-spacing: 0.03em;
  color: #292929;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
.hero__soc-link:hover, .hero__soc-link:focus {
  color: #00b068;
}

.hero-img {
  display: none;
}

@media (min-width: 1280px) {
  .hero-img {
    display: block;
    border-radius: 32px;
    width: 592px;
    height: 444px;
    margin-top: 88px;
  }
}
.about {
  padding-bottom: 80px;
}
@media (min-width: 768px) {
  .about {
    padding-bottom: 124px;
    background-image: url("../../images/about/about-decor.png");
    background-repeat: no-repeat;
    background-position: bottom 270px right 26px;
  }
}
@media (min-width: 1280px) {
  .about {
    background-position: bottom 367px right 70px;
  }
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-img {
  border-radius: 16px;
  max-width: 100%;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .about-img {
    margin-top: 368px;
    margin-right: 32px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1280px) {
  .about-img {
    margin-top: 272px;
    margin-right: 136px;
    margin-left: 208px;
    margin-bottom: 80px;
  }
}

.about__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
  }
}

.about__description {
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .about__description {
    max-width: 336px;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .about__description {
    max-width: 487px;
  }
}

.about__education {
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .about__education {
    max-width: 336px;
    margin-right: 32px;
  }
}
@media (min-width: 1280px) {
  .about__education {
    margin-right: 184px;
    margin-left: 208px;
  }
}
.about__list:not(:last-child) {
  margin-bottom: 40px;
}

.about__item {
  position: relative;
  margin-left: 32px;
}

.about__item:not(:last-child) {
  margin-bottom: 12px;
}

.about__text::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -17px;
  border-radius: 1px;
  width: 4px;
  height: 4px;
  background-color: #00b068;
}

.about__text {
  font-weight: 300;
  letter-spacing: 0.03em;
}

.tech-skills {
  padding-bottom: 80px;
}
@media (min-width: 768px) {
  .tech-skills {
    padding-bottom: 124px;
  }
}
@media (min-width: 1280px) {
  .tech-skills {
    padding-bottom: 164px;
  }
}

.stripe__wrapper {
  position: relative;
  width: 100%;
  min-height: 244px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .stripe__wrapper {
    min-height: 280px;
  }
}

.about__stripe {
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #292929;
}
@media (min-width: 768px) {
  .about__stripe {
    font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
  }
}

.first__stripe {
  position: absolute;
  top: 0;
  left: 1px;
  right: 1px;
  background-color: #bcdfd1;
  padding: 32px 0;
  z-index: 10;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .first__stripe {
    padding: 40px 0;
  }
}

.stripe__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 56px;
  padding-left: 50px;
}

.first__stripe .stripe__list {
  -webkit-animation: first-infinite 30s linear infinite;
          animation: first-infinite 30s linear infinite;
}

@-webkit-keyframes first-infinite {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes first-infinite {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.stripe__item {
  position: relative;
}

.black::before {
  content: "";
  position: absolute;
  top: 16px;
  right: -33px;
  border-radius: 2px;
  padding-left: 10px;
  width: 8px;
  height: 8px;
  background-color: #00b068;
}
@media (min-width: 768px) {
  .black::before {
    top: 20px;
  }
}

.second__stripe {
  position: absolute;
  top: 112px;
  left: 1px;
  right: 1px;
  background-color: #e4e5e6;
  padding: 32px 0;
  z-index: 10;
  white-space: nowrap;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}
@media (min-width: 768px) {
  .second__stripe {
    padding: 40px 0;
    top: 138px;
  }
}

.second-item {
  position: relative;
  color: #00b068;
}

.green::before {
  content: "";
  position: absolute;
  top: 19px;
  right: -30px;
  border-radius: 2px;
  padding-left: 10px;
  width: 8px;
  height: 8px;
  background-color: #292929;
}

.second__stripe .stripe__list {
  -webkit-animation: first-infinite 30s linear infinite;
          animation: first-infinite 30s linear infinite;
}

@keyframes first-infinite {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.projects {
  padding-bottom: 80px;
}
@media (min-width: 768px) {
  .projects {
    padding-bottom: 124px;
  }
}
@media (min-width: 1280px) {
  .projects {
    padding-bottom: 164px;
  }
}

.projects-title {
  text-align: center;
}
@media (min-width: 768px) {
  .projects-title {
    margin-bottom: 60px;
  }
}
@media (min-width: 1280px) {
  .projects-title {
    margin-bottom: 80px;
  }
}

.projects__item {
  max-width: 1008px;
  margin: 0 auto;
}

.projects__item:not(:last-child) {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .projects__item:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (min-width: 1280px) {
  .projects__item:not(:last-child) {
    margin-bottom: 80px;
  }
}

.projects-img {
  max-width: 100%;
  border-radius: 16px;
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .projects-img {
    margin-bottom: 16px;
    border-radius: 24px;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
@media (min-width: 1280px) {
  .projects-img {
    display: block;
    margin: 0 auto 16px;
  }
}

.project__technology {
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .project__technology {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .project__name-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.project__name {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .project__name {
    font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
    margin-bottom: 0;
  }
}

.project__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
  gap: 12px;
  border-radius: 8px;
  padding: 12px 24px;
  width: 125px;
  height: 48px;
  background-color: #e4e5e6;
  font-weight: 500;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
.project__link:hover, .project__link:focus {
  background-color: #bbb;
}

#load-more {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  margin: 0 auto;
  padding: 12px 24px;
  width: 155px;
  height: 52px;
  cursor: pointer;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
#load-more:hover {
  color: #00b068;
}

#load-more::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border: 2px solid #00b068;
  display: block;
  height: 2px;
  width: 100%;
}

.benefits {
  padding-bottom: 80px;
}
@media (min-width: 768px) {
  .benefits {
    padding-bottom: 124px;
  }
}
@media (min-width: 1280px) {
  .benefits {
    padding-bottom: 164px;
    background-image: url("../../images/benefits/benefits-decor.svg");
    background-repeat: no-repeat;
    background-size: 526px 408px;
    background-position: top 20px right 20px;
  }
}

@media (min-width: 768px) {
  .benefits-title {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .benefits-title {
    max-width: 687px;
  }
}
.benefits__item:not(:last-child) {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .benefits__item:nth-child(1) {
    grid-area: 1/2/2/3;
  }
  .benefits__item:nth-child(2) {
    grid-area: 2/1/3/2;
  }
  .benefits__item:nth-child(3) {
    grid-area: 2/2/3/3;
  }
  .benefits__item:nth-child(4) {
    grid-area: 3/1/4/2;
  }
}
@media (min-width: 1280px) {
  .benefits__item:nth-child(1) {
    grid-area: 1/3/2/4;
    width: 384px;
  }
  .benefits__item:nth-child(2) {
    grid-area: 2/1/3/2;
    width: 384px;
  }
  .benefits__item:nth-child(3) {
    grid-area: 2/2/3/3;
    width: 384px;
  }
  .benefits__item:nth-child(4) {
    grid-area: 2/3/3/4;
    width: 384px;
  }
}
@media (min-width: 768px) {
  .benefits__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
    row-gap: 32px;
  }
}
.benefits__icon {
  border-radius: 8px;
  width: 48px;
  height: 48px;
  padding: 12px;
  background: #bcdfd1;
  margin-bottom: 16px;
}

.benefits__expertise {
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .benefits__expertise {
    font-size: 20px;
    line-height: 1.6;
  }
}

.benefits__text {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.faq {
  padding-bottom: 80px;
}
@media (min-width: 768px) {
  .faq {
    padding-bottom: 124px;
  }
}
@media (min-width: 1280px) {
  .faq {
    padding-bottom: 164px;
    background-image: url("../../images/faq/faq-desktop-decor.svg");
    background-repeat: no-repeat;
    background-size: 526px 408px;
    background-position: bottom 164px left 100px;
  }
}

@media (min-width: 1280px) {
  .faq-title {
    max-width: 525px;
    margin-bottom: -125px;
  }
}
.accordion__list {
  width: 100%;
}
@media (min-width: 1280px) {
  .accordion__list {
    max-width: 600px;
    margin-left: auto;
  }
}

.accordion__button {
  width: 100%;
  border: none;
  text-align: left;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 24px;
  border-radius: 16px;
}

.accordion__item.active {
  background-color: #bcdfd1;
  border-radius: 16px;
}

body.dark-theme .accordion__item.active {
  background-color: #14c57c;
}

.arrow {
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s linear;
  transition: max-height 0.4s linear;
}

.accordion__text {
  font-weight: 300;
  letter-spacing: 0.03em;
  padding: 0 15px 15px;
}

.accordion__item.active .accordion__content {
  max-height: 280px;
}

.accordion__item.active .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.reviews {
  position: relative;
}

.reviews-title {
  text-align: center;
}

.reviews__swiper-slide {
  background-color: #e4e5e6;
  padding: 32px;
  border-radius: 16px;
}

body.dark-theme .reviews__swiper-slide {
  background-color: #2a2d32;
}

.reviews__text {
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 24px;
}

.reviews__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.reviews__img {
  border-radius: 24px;
  width: 40px;
  height: 40px;
}

.reviews__name {
  font-weight: 600;
  letter-spacing: 0.03em;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

.swiper-btn-box {
  position: absolute;
  bottom: -35px;
  right: 130px;
}
@media (min-width: 768px) {
  .swiper-btn-box {
    bottom: -56px;
    right: 150px;
  }
}

.swiper-button-prev {
  position: absolute;
  border: 1px solid #292929;
  border-radius: 8px;
  padding: 12px;
  width: 40px;
  height: 40px;
  color: #292929;
}

.swiper-button-next {
  position: absolute;
  bottom: -30px;
  right: -100px;
  border: 1px solid #292929;
  border-radius: 8px;
  padding: 12px;
  width: 40px;
  height: 40px;
  color: #292929;
}

body.dark-theme .swiper-button-next {
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
}

body.dark-theme .swiper-button-prev {
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
}

.swiper-button-prev:active,
.swiper-button-next:active {
  background-color: #00b068;
}

.contacts {
  padding-top: 144px;
  padding-bottom: 80px;
}
@media (min-width: 768px) {
  .contacts {
    padding-top: 124px;
    padding-bottom: 124px;
    background-image: url("../../images/contacts/contacts-decor.svg");
    background-repeat: no-repeat;
    background-size: 336px 260px;
    background-position: top 100px right 30px;
  }
}
@media (min-width: 1280px) {
  .contacts {
    padding-top: 164px;
    padding-bottom: 164px;
  }
}

@media (min-width: 1280px) {
  .contacts-title {
    max-width: 515px;
  }
}
@media (min-width: 1280px) {
  .contacts__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 136px;
  }
}
.contacts__text {
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .contacts__text {
    font-size: 20px;
    line-height: 1.6;
    max-width: 488px;
  }
}
@media (min-width: 1280px) {
  .contacts__text {
    margin-bottom: 120px;
  }
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .contacts__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 60px;
  }
}
@media (min-width: 1280px) {
  .contacts__list {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.03em;
}

.form__input {
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  height: 48px;
  background-color: #e4e5e6;
  color: #292929;
  margin-bottom: 32px;
  font-weight: 300;
  letter-spacing: 0.03em;
  outline: none;
}

body.dark-theme .form__input {
  background-color: #2a2d32;
  color: #f0f0f0;
}

.form__textarea {
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  height: 128px;
  background-color: #e4e5e6;
  color: #292929;
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  outline: none;
  resize: none;
}

body.dark-theme .form__textarea {
  background-color: #2a2d32;
  color: #f0f0f0;
}

.form__textarea::-webkit-input-placeholder {
  color: #292929;
  font-family: "Poppins", sans-serif;
}

.form__textarea::-moz-placeholder {
  color: #292929;
  font-family: "Poppins", sans-serif;
}

.form__textarea:-ms-input-placeholder {
  color: #292929;
  font-family: "Poppins", sans-serif;
}

.form__textarea::-ms-input-placeholder {
  color: #292929;
  font-family: "Poppins", sans-serif;
}

.form__textarea::placeholder {
  color: #292929;
  font-family: "Poppins", sans-serif;
}

body.dark-theme .form__textarea::-webkit-input-placeholder {
  color: #f0f0f0;
}

body.dark-theme .form__textarea::-moz-placeholder {
  color: #f0f0f0;
}

body.dark-theme .form__textarea:-ms-input-placeholder {
  color: #f0f0f0;
}

body.dark-theme .form__textarea::-ms-input-placeholder {
  color: #f0f0f0;
}

body.dark-theme .form__textarea::placeholder {
  color: #f0f0f0;
}

.form__button {
  border-radius: 8px;
  padding: 12px 24px;
  width: 100%;
  height: 48px;
  background-color: #00b068;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #f0f0f0;
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
.form__button:hover, .form__button:focus {
  background-color: #009156;
}
@media (min-width: 768px) {
  .form__button {
    width: 173px;
    height: 48px;
  }
}

.footer {
  padding-top: 40px;
  padding-bottom: 24px;
  border-top: 1px solid #e4e5e6;
}

@media (min-width: 1280px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
  }
}
.footer__logo {
  font-family: "Impact", sans-serif;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media (min-width: 1280px) {
  .footer__logo {
    margin-bottom: 0;
  }
}

.footer__logo span {
  color: #00b068;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
  }
}
@media (min-width: 1280px) {
  .footer__list {
    margin-bottom: 0;
  }
}

.footer__link {
  font-weight: 300;
  letter-spacing: 0.03em;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.footer__link:hover,
.footer__link:focus {
  color: #00b068;
}

.footer__text {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__text {
    width: 351px;
    margin-right: 0;
  }
}

.scroll-up {
  position: fixed;
  bottom: 35px;
  left: 71%;
  z-index: 25;
  width: 50px;
  height: 50px;
  color: #fcf9f9;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 4px #fcf9f9;
          box-shadow: inset 0 0 0 4px #fcf9f9;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
@media (min-width: 768px) {
  .scroll-up {
    left: 77%;
  }
}
@media (min-width: 1280px) {
  .scroll-up {
    left: 85%;
  }
}
@media (min-width: 1440px) {
  .scroll-up {
    left: 81%;
  }
}

.scroll-up::before {
  content: "↑";
  position: absolute;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #00b068;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.scroll-up:hover::before {
  -webkit-transform: scale(1.9);
          transform: scale(1.9);
}

.scroll-up-active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.scroll-up-svg-path {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  fill: none;
  stroke: #00b068;
  stroke-width: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}/*# sourceMappingURL=main.css.map */