.footer {
  padding-top: 40px;
  padding-bottom: 24px;
  border-top: 1px solid $color-light-grey;
}

@media (min-width: 1280px) {
  .footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}

.footer__logo {
  font-family: $second-family;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 32px;

  @media (min-width: 1280px) {
    margin-bottom: 0;
  }
}

.footer__logo span {
  color: $color-accet-green;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 40px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 0;
  }
}

.footer__link {
  font-weight: 300;
  letter-spacing: 0.03em;
  transition: color 0.25s linear;
}

.footer__link:hover,
.footer__link:focus {
  color: $color-accet-green;
}

.footer__text {
  width: 200px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: 768px) {
    width: 351px;
    margin-right: 0;
  }
}
