.hero {
  padding-top: 80px;
  background-image: url("../../images/hero/hero-decor-mobile.png");
  background-repeat: no-repeat;
  background-size: 320px 604px;
  background-position: top 10% right 25%;

  @media (min-width: 768px) {
    padding-top: 96px;
    background-image: url("../../images/hero/hero-decor-tablet.png");
    background-size: 709px 901px;
    background-position: top 45% right 25%;
  }

  @media (min-width: 1280px) {
    background-image: url('../../images/hero/hero-decor-desktop.png');
    background-size: 1221px 776px;
    background-position: top 45% right 158%;
  }
}

@media (min-width: 1280px) {
  .hero__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 96px;
  }
}

.hero__title {
  font-family: $second-family;
  font-size: 60px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-black;
  margin-bottom: 40px;
  margin-top: 96px;

  @media (min-width: 360px) {
    font-size: 64px;
  }

  @media (min-width: 768px) {
    margin-top: 88px;
    font-size: 124px;
    line-height: 1.19;
    letter-spacing: 0.01em;
    margin-bottom: 60px;
  }

  @media (min-width: 1280px) {
    max-width: 552px;
    margin-right: 72px;
    margin-bottom: 80px;
  }
}

.hero__title span {
  color: $color-accet-green;
}

.hero__button {
  position: relative;
  max-width: 320px;
  height: 92px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-black;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    min-width: 416px;
    height: 96px;
    font-size: 20px;
    line-height: 1.6;
  }

  @media (min-width: 1280px) {
    margin-right: 136px;
    margin-left: 72px;
    margin-bottom: 0;
  }
}

.hero__button::after {
  content: "";
  position: absolute;
  right: 0;
  border-radius: 16px;
  width: 165px;
  height: 92px;
  background-color: $color-light-accent;
  z-index: -1;
  transition: background-color 0.25s linear;

  @media (min-width: 768px) {
    width: 261px;
  }
}

.hero__button:hover::after,
.hero__button:focus::after {
  background-color: $color-accet-green;
}

.hero__text {
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-black;
  max-width: 320px;
  margin-bottom: 72px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 1.6;
    max-width: 704px;
    margin-bottom: 100px;
  }

  @media (min-width: 1280px) {
    max-width: 592px;
    margin-bottom: 0;
  }
}

.hero__text span {
  color: $color-accet-green;
}

.hero__soc-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 24px;
  max-width: 360px;
  padding: 32px 0;
  background-color: $color-light-grey;

  @media (min-width: 768px) {
    max-width: 768px;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 40px 0;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}

.hero__soc-link {
  font-weight: 300;
  letter-spacing: 0.03em;
  color: $color-black;
  transition: color 0.25s linear;

  &:hover,
  &:focus {
    color: $color-accet-green;
  }
}

.hero-img {
  display: none;
}

@media (min-width: 1280px) {
  .hero-img {
    display: block;
    border-radius: 32px;
    width: 592px;
    height: 444px;
    margin-top: 88px;
  }
}
