.projects {
  padding-bottom: 80px;

  @media (min-width: 768px) {
    padding-bottom: 124px;
  }

  @media (min-width: 1280px) {
    padding-bottom: 164px;
  }
}

.projects-title {
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 60px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 80px;
  }
}

.projects__item {
  max-width: 1008px;
  margin: 0 auto;
}

.projects__item:not(:last-child) {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-bottom: 60px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 80px;
  }
}

.projects-img {
  max-width: 100%;
  border-radius: 16px;
  margin-bottom: 12px;

  @media (min-width: 768px) {
    margin-bottom: 16px;
    border-radius: 24px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  @media (min-width: 1280px) {
    display: block;
    margin: 0 auto 16px;
  }
}

.project__technology {
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .project__name-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.project__name {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
    margin-bottom: 0;
  }
}

.project__link {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  gap: 12px;
  border-radius: 8px;
  padding: 12px 24px;
  width: 125px;
  height: 48px;
  background-color: $color-light-grey;
  font-weight: 500;
  letter-spacing: 0.03em;
  transition: background-color 0.25s linear;

  &:hover,
  &:focus {
    background-color: $color-hover-grey;
  }
}

#load-more {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-black;
  margin: 0 auto;
  padding: 12px 24px;
  width: 155px;
  height: 52px;
  cursor: pointer;
  transition: color 0.25s linear;

  &:hover {
    color: $color-accet-green;
  }
}

#load-more::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border: 2px solid $color-accet-green;
  display: block;
  height: 2px;
  width: 100%;
}
