.reviews {
  padding-bottom: 80px;
  position: relative;

  @media (min-width: 768px) {
    padding-bottom: 124px;
  }

  @media (min-width: 1280px) {
    padding-bottom: 164px;
  }
}

.reviews__swiper-slide {
  background-color: $color-light-grey;
  padding: 32px;
  border-radius: 16px;
}

.reviews__text {
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 24px;
}

.reviews__box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.reviews__img {
  border-radius: 24px;
  width: 40px;
  height: 40px;
}

.reviews__name {
  font-weight: 600;
  letter-spacing: 0.03em;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

.swiper-btn-box {
  position: absolute;
  bottom: 35px;
  right: 130px;

  @media (min-width: 768px) {
    bottom: 76px;
    right: 150px;
  }
}

.swiper-button-prev {
  position: absolute;
  border: 1px solid $color-black;
  border-radius: 8px;
  padding: 12px;
  width: 40px;
  height: 40px;
  color: $color-black;
}

.swiper-button-next {
  position: absolute;
  bottom: -30px;
  right: -100px;
  border: 1px solid $color-black;
  border-radius: 8px;
  padding: 12px;
  width: 40px;
  height: 40px;
  color: $color-black;
}

.swiper-button-prev:active,
.swiper-button-next:active {
  background-color: $color-accet-green;
}