// Stripes
.tech-skills {
  padding-bottom: 80px;

  @media (min-width: 768px) {
    padding-bottom: 124px;
  }

  @media (min-width: 1280px) {
    padding-bottom: 164px;
  }
}

.stripe__wrapper {
  position: relative;
  width: 100%;
  min-height: 244px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    min-height: 280px;
  }
}

.about__stripe {
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #333;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
  }
}

.first__stripe {
  position: absolute;
  top: 0;
  left: 1px;
  right: 1px;
  background-color: $color-light-accent;
  padding: 32px 0;
  z-index: 10;
  white-space: nowrap;

  @media (min-width: 768px) {
    padding: 40px 0;
  }
}

.stripe__list {
  display: flex;
  align-items: center;
  gap: 56px;
  padding-left: 50px;
}

.first__stripe .stripe__list {
  animation: first-infinite 30s linear infinite;
}

@keyframes first-infinite {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.stripe__item {
  position: relative;
}

.black::before {
  content: "";
  position: absolute;
  top: 16px;
  right: -33px;
  border-radius: 2px;
  padding-left: 10px;
  width: 8px;
  height: 8px;
  background-color: $color-accet-green;

  @media (min-width: 768px) {
    top: 20px;
  }
}

.second__stripe {
  position: absolute;
  top: 112px;
  left: 1px;
  right: 1px;
  background-color: #e0e0e0;
  padding: 32px 0;
  z-index: 10;
  white-space: nowrap;
  transform: rotate(1deg);

  @media (min-width: 768px) {
    padding: 40px 0;
    top: 138px;
  }
}

.second-item {
  position: relative;
  color: $color-accet-green;
}

.green::before {
  content: "";
  position: absolute;
  top: 19px;
  right: -30px;
  border-radius: 2px;
  padding-left: 10px;
  width: 8px;
  height: 8px;
  background-color: $color-black;
}

.second__stripe .stripe__list {
  animation: first-infinite 30s linear infinite;
}

@keyframes first-infinite {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}
