.section-title {
  font-family: $second-family;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: right;
  color: $color-black;
}
